<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/mocha.css" type="text/CSS">
        {{/if}}
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    </head>
    <body>
          {{{_sections.aside}}}
        {{{body}}}
        <h2>I'm Ayodeji</h2>
      
{{!setting up the test  }}
{{!using TDD--Test-Driven Development, other and default for mocha is BDD--Behaviour-Driven development}}
        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/mocha.js"></script>
            <script src="/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            {{!for global testing of pages}}
            <script src="/qa/tests-global.js"></script>
            {{!for specific page testing}}
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}
    </body>
        {{{_sections.footer}}}
</html>