<!DOCTYPE html>
<html>
      {{#each flash}}
        <div class="flash">
            <b>{{flash.into}}</b>
            <p>{{flash.type}}</p>
            <p>{{{flash.message}}}</p>
        </div>
    {{/each}}
</html>